@use './variables' as *;
@use './mixins' as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    color: #F0F;
    font-weight: 400;
    font-family: monospace;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    list-style: none;
}