////// BREAKPOINTS //////
$responsiveExtraSmall: 350px;
$responsiveSmall: 576px;
$responsiveMedium: 768px;
$responsiveLarge: 992px;
$responsiveExtraLarge: 1200px;

////// SPACES //////
$spaceExtraSmall: 4px;
$spaceSmall: 8px;
$spaceMedium: 16px;
$spaceLarge: 32px;
$spaceExtraLarge: 64px;

$color1-solid: #282828;
$color1-trans1: rgba(40, 40, 40, .6);
$color1-trans2: rgba(40, 40, 40, .4);
$color2-solid: #FFFFFF;
$color3-solid: #87D3F8;
$color3alt-solid: #CFEDFC;
$color4-solid: #B0ED97;

$animationSpeedExtraSlow: 700ms;
$animationSpeedSlow: 300ms;
$animationSpeedNormal: 150ms;
$animationSpeedFast: 80ms;
$animationSpeedExtraFast: 35ms;

$borderSize: 2px;
$borderRadius: 16px;
$header: 144px;
$pageWidth: 1200px;