@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.header {
    background: linear-gradient( $color3-solid, transparent);
    height: $header;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding-left: $spaceLarge;
    padding-right: $spaceLarge;
    pointer-events: none;
}