@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.scrollUp {
    @include shadowFrame;
    height: 60px;
    width: 60px;
    background: $color2-solid;
    position: fixed;
    right: $spaceLarge;
    bottom: $spaceLarge;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: scale $animationSpeedExtraSlow, transform $animationSpeedExtraSlow, opacity $animationSpeedExtraSlow;

    @media (width <= $responsiveSmall) {
        right: $spaceMedium;
        bottom: $spaceMedium;
    }
    
    &-top {
        transform: scale(0);
        opacity: 0;
    }

    &-notTop {
        transform: scale(1);
        opacity: 1;
    }
    
    &:hover .scrollUp__image {
        animation: scrollUp_move calc( $animationSpeedExtraSlow + $animationSpeedSlow ) forwards cubic-bezier(.7,-0.4,.32,1.3);
        
        @keyframes scrollUp_move {
            // 6px is default center
            0% { translate: 0 6px; }
            45% { translate: 0 -200%; }
            50% { translate: -300% -200%; }
            51% { translate: -300% 200%; }
            55% { translate: 0 200%; }
        }
    }

    transition: $animationSpeedFast;

    &:active {
        border-radius: $borderRadius;
        border: $borderSize solid $color1-solid;
        box-shadow: 0px 0px 0 0.5px $color1-solid;
        translate: 12px 12px;
    }
}